.container-pp {
  display: flex;
  flex-direction: column;

  max-height: 100%;
  overflow-y: auto;

  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;

  }
  .banner{
    flex-shrink: 0;

    width: 100%;
    height: calc(min(33vw, 199px));

    background: var(--twitter);

    position: relative;

      .avatar {
        width: calc(max(45px, min(135px, 22vw)));
        height: calc(max(45px, min(135px, 22vw)));
      
        border: 3.75px solid var(--primary);
        border-radius: 50%;
        background: var(--gray);
      
        position: absolute;
        bottom: calc(max(-60px, -10vw));
        left: 15px;
      }
    }
  }

  .profile-data {
    padding: calc(min(10vw + 7px, 67px)) 16px 0;

    display: flex;
    flex-direction: column;

    position: relative;

    h1 {
      font-weight: bold;
      font-size: 19px;
    }
    
    h2 {
      font-weight: normal;
      font-size: 15px;

      opacity: 0.7;
      color: var(--gray);
    }

    p {
      font-size: 15px;
      margin-top: 11px;
    }

    ul {
      list-style: none;
      margin-top: 10px;
      margin-bottom: 10px;

      li {
        display: flex;
        align-items: center;

        span {
          font-size: 15px;
          color: var(--gray);
        }
        svg {
          fill: var(--gray);

          margin-right: 5px;
        }
      }

      .icons-profile {
        width: 20px;
        height: 20px;
      
        color: var(--gray);
      }

      
    }
    .followage {
      display: flex;
  
      span {
        font-size: 15px;
        color: var(--gray);

        & + span {
          margin-left: 20px;
        }
      }
    }
  }
