.main-container {
  display: flex;
  flex-direction: column;

  width: calc(min(601px, 100%));
}

@media (min-width: 500px) {
  .main-container {
    border-left: 1px solid var(--outline);
    border-right: 1px solid var(--outline);
  }
}

.main-header {
  z-index: 2;
  position: static;
  top: 0;
  background: var(--primary);

  display: flex;
  align-items: center;

  text-align: right;

  padding: 8px 0 9px 13px;
  border-bottom: 1px solid var(--outline);

  button {
    padding: 8px;
    border-radius: 50%;

    outline: 0;
    cursor: pointer;

    &:hover {
      background: var(--twitter-dark-hover);
    }
    #arrow-left {
      width: 24px;
      height: 24px;

      fill: var(--twitter);
    }
  }
}

.main-profileInfo {
  margin-left: 17px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  strong {
    font-size: 19px;
  }
  span {
    font-size: 15px;
    color: var(--gray);
  }
}

.bottons-menu {

  .icons-menu {
    width: 31px;
    height: 31px;

    cursor: pointer;

    fill: var(--gray);

    &:hover,
    &:active {
      fill: var(--twitter);
    }
  }

  #home-icon {
    
  }
  #seacher-icon {
    
  }
  #bell-icon {
   
  }
  #email-icon {
    
  }
}